@charset "utf-8";
/* CSS Document */
html,body{
	margin:0px;
	padding:0px;
	font-size: 15px;
	background:#bcb7a7;
	font-family: "Hanuman",serif;
	width: 100%;
	height: 100%;

}
#w-right img{
	max-width:630px;
}
*{
	line-height:1.6em;
}
a{
	text-decoration:none;
	color:#7f00a9;
	font-weight:normal;
}

#head{
	border-bottom:2px solid #FF0000;
	box-shadow: 0px 0px 5px 0px #900;
	height:55px;
	width:100%;
	z-index: 999;
	background:#FFF;
	position:fixed;
	
}
#sub-head{
	margin:0 auto;
	width:1000px;
	margin-top:-2px;
	}
#menu ul li{
	list-style:none;
	display:inline;
	margin:0px 17px;
}
#menu ul{
	padding-top:4px;
}
#menu ul li a{
	text-decoration:none;
	font-size:15px;
	color:red;
font-weight: bold;
}
#menu ul li a:hover{
	color:blue;
}
#menu ul li .current{
	color:#7f00a9;
}
#menu{	
	margin-top:2px;
}
#search{
	float:right;
	padding:7px;
	height:40px;
	margin-top:-9px;
	border: 1px solid #D9D9D9;
}
#btn-search{
	float:right;
	color:#A6A6A6;
	width:70px;
	height:40px;
	cursor:pointer;
	margin-top:-9px;
	border-radius:0px 5px 5px 0px;
	border: 1px solid #D9D9D9;
	padding: 7px 9px;
	background:none repeat scroll 0% 0% #F9F9F9;
	outline: 0px none;
	font-size: 13px;
	max-width: 100%;
	
}
#sub_menu ul{
	margin-left:20px;
}
#sub_menu ul li{
	list-style:none;
	float:left;
	padding:7px 12px;
	background:#B90000;
	margin-bottom:2px;
}
#sub_menu ul li a{
	text-decoration:none;
	color:#FFF;
	font-size:14px;
}
#sub_menu ul li:hover{
	padding:7px 12px;
	background:#FF9595;
}





#wrap{
	margin:0 auto;
	width:1000px;
	position:relative;
	padding-top:55px;
	margin-bottom:20px;
	overflow:hidden;
}
#w-left{
	width:320px;
	min-height:800px;
	float:right;
	border-top:none;
	background:#FBFBFB;
	
}
#w-right{
	width:670px;
	min-height:800px;
	float:left;
	border-right:2px solid #CCCCCC;
	background:#FBFBFB;
	padding-right:3px;
	
	
}
#w-right span{
	font-size:14px;
}
#w-left span{
	font-size:14px;
}
.img-r​ a span:hover{
	text-decoration:underline;
	
}
a:hover{
	text-decoration:underline;
}
.title-news{
	padding:5px 5px;
	background:#ce3ffd;
	border-bottom:2px solid #7f00a9;
}
.title-news span{
	font-size:16px;
	color:#FFF;
	font-weight:bold;
}
.title-knowledge{
	padding:5px 5px;
	background:#04C4E6;
	border-bottom:2px solid #0691A9;
}
.title-knowledge span{
	font-size:16px;
	color:#FFF;
	font-weight:bold;
}
.img-l{
	margin:10px 10px 3px 10px;
	height:68px;
	overflow: hidden;
}
.img-r{
	width:220px;
	float:left;
	margin:10px 0px 5px 0px;
	height:207px;
	overflow:hidden;
}
.img-r img{
	height:130px;
}

#yt{
	width:220px;
	float:left;
	margin:10px 0px;
	
}
#related_news{
	margin:10px;
	height:65px;
	width:310px;
	float:left;
	overflow:hidden;
}

#img-art{
	margin-bottom:10px;
	border-bottom:1px solid #CCC;
	padding:10px;
}
.yt img:hover{
	opacity:0.6;
	cursor:pointer;
}
#result{
	height:140px;
	margin:10px;
	overflow:hidden;
}
.related_vdo{
	width:220px;
	float:left;
	margin:10px 0px;
	height:185px;
	overflow:hidden;
}
#more_news{
	padding:5px;
	background:#BDBDBD;
	margin-top:25px;
}
.post_date{
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
#footer{
	border-top:2px solid #FF0000;
	box-shadow: 0px 0px 5px 0px #900;
	height:55px;
	width:100%;
	background:#FFF;
	margin-top:10px;
}
#sub-footer{
	width:1000px;
	margin:0 auto;

}

#arrow-right {
min-width: 15%;
max-width: 80px;
height: 36px;
float: left;
background: linear-gradient(90deg, #96E4FF, #FFF);
z-index: 1;
margin-left: 20px;
}

#tip-topic {
    border-bottom: 1px solid #D8D8D8;
    float: left;
    /* border-top: 1px solid #d8d8d8; */
    border-right: 1px solid #d8d8d8;
    width: 100%;
    border-radius: 3px 3px 0 0;
	
    -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
}
.widget-area #tip-topic { 
  border:1px solid #d8d8d8;
  width:99.6%;
 
}
div#tip-topic {
    background: #fff;
}
.tip-topic {
    background-color: #00B7FF;
    border-right: 2px solid #FFF;
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 19px;
    line-height: 36px;
    padding: 9 10px;
    position: relative;
    text-align: center;
    /* border-left: 4px solid #7ad03a; */
    border-radius: 3px 0 0 0;
	
    -webkit-border-radius: 3px 0 0 0;
        -moz-border-radius: 3px 3px 0 0; */
	
}
.tip-topic:after {
    border-top: 50px solid #97E4FF;
	border-left: 100px solid transparent;
	
    z-index: 2;
    border-bottom: 50px solid #97E4FF;
    border-width: 18px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -22px;
    top: 0;
    width: 0;
}
.tip-topic:before {
    border-color: transparent transparent transparent #00B7FF;
    border-style: solid;
    border-width: 18px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -36px;
    top: 0;
    width: 0;
    z-index: 2;
    /* border-radius: 100%; */
}
.tip-topic span a {
	color:#fff;
}

.scrollToTop {
  width: 60px;
  height: 100px;
  padding: 10px;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 80px;
  display: none;
  background: url('http://www.knn-news.com/images/scroll.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#more{
    text-align: center;
    padding: 8px 5px;
    width: 106px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    background: #eee;
	margin-top:5px;
	margin-bottom:10px;
}
#more:hover{
    cursor: pointer;
    background: #ccc;
}
#limg{
	width:20px;
	height:20px;
}
.clear{
	clear:both;
	padding:0px;
	margin:0px;
}
